@import "tailwindcss";
:root {
  --bg-primary: #0a1e34;
  --bg-secondary: #f5f7fa;
  --bg-white: #ffffff;
  --bg-accent: #e3e8f0;
  --bg-error: #ffe6e6;
  --bg-superDarkBlue : #171543
}

.bg-darkBlue{
  background-color: var(--bg-superDarkBlue);
}

.bg-primary{
  background-color: var(--bg-primary);
}
 
html,body{
  font-size: 16px;
}
*{
  font-family: 'Figtree';
}

button:hover, button:focus, a:hover, a:focus{
cursor: pointer;
}
.login-bg{
  background-image: url(./assets/login-bg.jpg);
  background-size: cover;
}

.bg-greeting{
  background-image: url(./assets/blue-strip-bg.jpg);
  background-size: cover;
}


@keyframes dots {
  0%, 20% { content: '.'; }
  40% { content: '..'; }
  60% { content: '...'; }
   100% { content: '....'; }
}

.animate-dots {
  display: inline-block;
  width: 1rem;
  text-align: left;
}

.animate-dots::after {
  content: '...';
  animation: dots 1.5s steps(3, end) infinite;
}


.activeSlab::after{
  content:"";
  height: 100%;
  background-color: #193cb8;
  width:50px;
  display: block;
  position: absolute;
  top:0;
  right:-30px;

}



.activeSlab::before{
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid #dfe7ff;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: -24px;
  z-index: 1;
  top: 14px;
}